@font-face {
  font-family: "AGaramondPro";
  font-display: swap;
  src: url("../fonts/AGaramondPro-Bold.woff") format("woff"), url("../fonts/AGaramondPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-home:before {
  content: "\e901";
  color: #fff;
  padding-right: 20px;
}

._icon-facebook:before {
  content: "\e900";
  color: #fff;
  position: absolute;
  top: 0;
  left: -30px;
}

._icon-twitter:before {
  content: "\e903";
  color: #fff;
  position: absolute;
  top: 0;
  left: -30px;
}

._icon-instagram:before {
  content: "\e902";
  color: #fff;
  position: absolute;
  top: 0;
  left: -30px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #14274a;
  font-size: 20px;
  background: #f7f7f7;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.subtitle {
  font-family: AGaramondPro;
  font-style: normal;
  font-weight: bold;
  font-size: calc(40px + 10 * ((100vw - 320px) / 1180));
}

.btn-main a {
  color: #fff;
  border-radius: 15px;
  background: #e0b973;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  color: #fff;
  padding: 25px 33px;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1180));
  -webkit-box-shadow: 4px 4px 0 0 #9c7e44;
          box-shadow: 4px 4px 0 0 #9c7e44;
  top: 0;
  left: 0;
}

.btn-main a:active {
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 0 #9c7e44;
          box-shadow: 2px 2px 0 0 #9c7e44;
}

.btn {
  padding: 20px 65px;
  background: #e0b973;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  font-weight: bold;
  font-size: calc(15px + 5 * ((100vw - 320px) / 1180));
  -webkit-box-shadow: 4px 4px 0 0 #9c7e44;
          box-shadow: 4px 4px 0 0 #9c7e44;
  position: relative;
  top: 0;
  left: 0;
}

.btn:active {
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 0 #9c7e44;
          box-shadow: 2px 2px 0 0 #9c7e44;
}

._input {
  border: 2px solid #14274a;
  font-size: 25px;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
}

._input:focus {
  -webkit-box-shadow: 0 0 15px #9c7e44;
          box-shadow: 0 0 15px #9c7e44;
}

._input:focus + label {
  -webkit-transform: translateY(-24px);
      -ms-transform: translateY(-24px);
          transform: translateY(-24px);
  font-size: 20px;
}

._input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

._input._active + label {
  -webkit-transform: translateY(-24px);
      -ms-transform: translateY(-24px);
          transform: translateY(-24px);
  font-size: 20px;
}

.slider-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  z-index: 1;
  background: rgba(182, 181, 181, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.slider-prev::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  border-top: 4px solid #bdbbbb;
  border-left: 4px solid #bdbbbb;
  width: 25px;
  height: 25px;
}

.slider-prev:hover {
  background: rgba(221, 221, 221, 0.5);
}

.slider-prev:hover::before {
  border-top: 4px solid #a7a5a5;
  border-left: 4px solid #a7a5a5;
}

.slider-next {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  z-index: 1;
  background: rgba(182, 181, 181, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.slider-next::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%) rotate(135deg);
      -ms-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  border-top: 4px solid #bdbbbb;
  border-left: 4px solid #bdbbbb;
  width: 25px;
  height: 25px;
}

.slider-next:hover {
  background: rgba(221, 221, 221, 0.5);
}

.slider-next:hover::before {
  border-top: 4px solid #a7a5a5;
  border-left: 4px solid #a7a5a5;
}

.swiper-pagination {
  padding-bottom: 15px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 1px solid #fff;
}

.error-message {
  color: red;
  font-size: 18px;
  position: absolute;
  top: 60px;
  left: 18px;
  font-weight: normal;
  display: none;
}

.error-message._active {
  display: block;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 25px;
  overflow: hidden;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
}

.header__list li {
  margin-right: 90px;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__link {
  color: #fff;
}

.header__burger {
  display: none;
}

.footer {
  position: relative;
  margin-top: 100px;
  background: #14274a;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.footer *:last-child {
  margin-bottom: 0;
}

.footer::before {
  content: "";
  position: absolute;
  top: -75px;
  left: 50%;
  border: 100px solid transparent;
  border-bottom: 60px solid #14274a;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer a {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.footer a::before {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding-right: 30px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 90px;
}

.footer__contacts {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

.footer__item {
  margin-top: 22px;
}

.footer__list li {
  margin-bottom: 20px;
}

.footer__socials li {
  margin-bottom: 15px;
}

.footer__socials li a {
  position: relative;
}

.footer__subscribe {
  margin-bottom: 20px;
}

.footer form {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 15px;
  position: relative;
}

.footer form._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.footer form input {
  background: #14274a;
  padding: 15px;
  border: 3px solid #e0b973;
  border-right: none;
  color: #fff;
  font-size: 16px;
  border-radius: 15px 0 0 15px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.footer form input::-moz-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.footer form input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.footer form input::-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.footer form input::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.footer form input:focus {
  border: 3px solid #9c7e44;
  border-right: none;
}

.footer__btn {
  background: #e0b973;
  color: #14274a;
  padding: 0 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.luxury__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.luxury__text {
  padding: 220px 0 80px 0;
}

.luxury__title {
  font-family: AGaramondPro;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 20px;
}

.luxury__title span {
  font-size: calc(70px + 40 * ((100vw - 320px) / 1180));
  letter-spacing: 0.07em;
}

.luxury__title span:first-child {
  font-family: Montserrat;
  font-weight: normal;
  font-size: calc(35px + 5 * ((100vw - 320px) / 1180));
}

.luxury__title span:last-child {
  font-size: 40px;
  letter-spacing: 0.4em;
  font-size: calc(20px + 15 * ((100vw - 320px) / 1180));
}

.luxury__label {
  color: #ffffff;
  line-height: 30px;
  font-size: calc(18px + 2 * ((100vw - 320px) / 1180));
}

.luxury__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 80px;
}

.luxury__scroll {
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-bottom: 90px;
  cursor: pointer;
}

.luxury__scroll a {
  position: relative;
  color: #fff;
}

.luxury__scroll a:active::before {
  background: #d3d2d2;
}

.luxury__scroll a::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 4px;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.luxury__scroll a::after {
  content: "";
  position: absolute;
  top: 48px;
  left: 17px;
  width: 25px;
  height: 25px;
  border-left: 7px solid #2c2c2c;
  border-top: 7px solid #2c2c2c;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  cursor: pointer;
}

.paradise__breakfast {
  font-size: calc(25px + 5 * ((100vw - 320px) / 1180));
  line-height: 44px;
  padding: 90px 0;
  text-align: center;
}

.paradise__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paradise__row:last-child {
  margin-bottom: 0;
}

.paradise__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding: 0 50px;
  position: relative;
}

.paradise__text::before {
  content: "";
  position: absolute;
  border-left: 2px solid #14274a;
  top: 15px;
  height: 95%;
  left: -10px;
}

.paradise__text h2 {
  margin-bottom: 20px;
}

.paradise__text p {
  margin-bottom: 30px;
}

.paradise__btn a {
  font-size: 20px;
}

.paradise__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  position: relative;
  overflow: hidden;
}

.paradise__img img {
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.facilities {
  margin-top: 60px;
}

.facilities__title {
  text-align: center;
  margin-bottom: 30px;
}

.facilities__text {
  text-align: center;
  margin-bottom: 60px;
  line-height: 30px;
}

.facilities__block {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.facilities__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.facilities__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.facilities__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.facilities__label {
  font-size: calc(20px + 5 * ((100vw - 320px) / 1180));
  line-height: 35px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #f7f7f7;
  width: 60%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 15px 15px 0 0;
}

.rooms {
  margin-top: 80px;
}

.rooms__title {
  text-align: center;
  margin-bottom: 30px;
}

.rooms__text {
  text-align: center;
  margin-bottom: 60px;
  line-height: 30px;
}

.rooms__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rooms__row:last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rooms__column {
  min-width: 0;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.rooms__column:last-child {
  margin-top: 30px;
}

.rooms__item {
  border: 2px solid #14274a;
  border-radius: 0 0 15px 15px;
}

.rooms__image {
  position: relative;
  padding-bottom: 70%;
  overflow: hidden;
  position: relative;
}

.rooms__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.rooms__label {
  font-weight: bold;
  font-size: calc(20px + 10 * ((100vw - 320px) / 1180));
  color: #ffffff;
  background: #14274a;
  text-align: center;
  padding: 30px 0;
}

.rooms__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative;
  font-size: calc(12px + 8 * ((100vw - 320px) / 1180));
}

.rooms__details {
  font-weight: bold;
  cursor: pointer;
  font-size: calc(12px + 3 * ((100vw - 320px) / 1180));
  position: relative;
  padding-left: 40px;
}

.rooms__details::before {
  content: "+";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  top: -8px;
  left: 0;
  background: #e0b973;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.rooms__details._show::before {
  content: "";
}

.rooms__details._show::after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 18px;
  height: 3px;
  top: 6px;
  left: 6px;
  cursor: pointer;
}

.rooms__details-list {
  position: absolute;
  top: 75px;
  left: 45px;
  background: #f7f7f7;
  border: 1px solid #14274a;
  z-index: 2;
  display: none;
}

.rooms__details-list li {
  padding: 15px;
  cursor: pointer;
}

.rooms__details-list li:nth-child(2n) {
  background: #ebe0ce;
}

.rooms__details-list._show {
  display: block;
}

.rooms__btn {
  padding: 20px;
}

.contact__title {
  padding: 200px 0 80px 0;
  font-weight: bold;
  font-size: calc(35px + 15 * ((100vw - 320px) / 1180));
  background: #14274a;
  color: #fff;
  text-align: center;
}

.contact__subtitle {
  margin: 80px 0 15px 0;
  text-align: center;
}

.contact__text {
  text-align: center;
  margin-bottom: 120px;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.contact__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

.contact__list li {
  font-size: calc(20px + 5 * ((100vw - 320px) / 1180));
  margin-bottom: 40px;
}

.contact__list li:last-child {
  margin-bottom: 0;
}

.contact__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
  text-align: end;
}

.contact__form-wrap {
  position: relative;
}

.contact__form-wrap label {
  color: #14274a;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 25px;
  position: absolute;
  left: 30px;
  cursor: text;
  top: 25px;
}

.contact__form-wrap:nth-of-type(3) span {
  top: 208px;
}

.contact__name {
  margin-bottom: 40px;
}

.contact__email {
  margin-bottom: 40px;
}

.contact__message {
  color: red;
  font-size: 20px;
  position: absolute;
  left: 30px;
  display: none;
  top: 80px;
}

.contact__message._active {
  display: block;
}

.contact__textarea {
  margin-bottom: 40px;
  height: 200px;
  resize: none;
}

.contact__textarea:focus::-webkit-input-placeholder {
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

.contact__textarea:focus::-moz-placeholder {
  transform: translateY(-22px);
}

.contact__textarea:focus:-ms-input-placeholder {
  -ms-transform: translateY(-22px);
      transform: translateY(-22px);
}

.contact__textarea:focus::-ms-input-placeholder {
  -ms-transform: translateY(-22px);
      transform: translateY(-22px);
}

.contact__textarea:focus::placeholder {
  -webkit-transform: translateY(-22px);
      -ms-transform: translateY(-22px);
          transform: translateY(-22px);
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 768px) {
  .btn-main a:hover {
    background: #b6985d;
  }

  .btn:hover {
    background: #b6985d;
  }

  .header__link {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .header__link:hover {
    text-decoration: underline;
  }

  .header__link._active {
    text-decoration: underline;
  }

  .footer a:hover {
    color: #e0b973;
  }

  .footer a:hover::before {
    color: #e0b973;
  }

  .paradise__img img:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .facilities__img img:hover {
    z-index: 10;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 992px) {
  .footer__btn:hover {
    background: #9c7e44;
  }

  .rooms__details-list li:hover {
    background: #d3cfca;
  }
}

@media (max-width: 1232px) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .footer__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 30px;
  }

  .footer__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 30px;
  }

  .footer__socials {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .footer__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 992px) {
  .header__logo {
    width: 170px;
  }

  .header__logo img {
    width: 100%;
  }

  .header__list li {
    margin-right: 35px;
  }

  .paradise__img {
    margin-bottom: 15px;
  }

  .rooms__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 30px;
  }

  .rooms__column:last-child {
    margin: 0 0;
  }

  .contact__title {
    padding: 150px 0 50px 0;
  }

  .contact__subtitle {
    margin-top: 50px;
  }

  .contact__text {
    margin-bottom: 50px;
  }

  .contact__list li {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .header__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo {
    text-align: center;
    z-index: 2;
  }

  .header__list {
    position: fixed;
    top: -100%;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #9c7e44;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header__list li {
    margin: 0 0 20px 0;
    width: 100%;
  }

  .header__burger {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 2;
  }

  .header__burger::before {
    content: "";
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 100px;
    height: 100px;
    border-radius: 40px;
    background-color: #f7f7f7;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header__burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #9c7e44;
    border-radius: 2px;
  }

  .header__burger span:first-child {
    top: 0px;
  }

  .header__burger span:last-child {
    top: auto;
    bottom: 0px;
  }

  .header__burger._active::before {
    left: -20px;
    bottom: -25px;
  }

  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .header__burger._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__socials {
    margin-bottom: 30px;
  }

  .luxury__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .paradise__breakfast {
    padding: 60px 0;
  }

  .paradise__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .paradise__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .paradise__text::before {
    border: none;
  }

  .facilities__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__list {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .contact__list li {
    text-align: center;
  }

  .contact__btn {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .btn-main a {
    padding: 20px 25px;
  }

  .swiper-pagination {
    padding-bottom: 10px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .footer__content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .luxury__text {
    padding: 120px 0 45px 0;
  }

  .luxury__scroll {
    padding-bottom: 60px;
  }

  .luxury__scroll a::before {
    width: 40px;
    height: 40px;
    top: 30px;
    left: 9px;
  }

  .luxury__scroll a::after {
    width: 20px;
    height: 20px;
    top: 38px;
    left: 19px;
    border-left: 5px solid #2c2c2c;
    border-top: 5px solid #2c2c2c;
  }

  .paradise__breakfast {
    line-height: 30px;
  }

  .paradise__text {
    padding: 0;
  }

  .rooms__label {
    padding: 20px 0;
  }

  .rooms__price {
    padding: 10px 5px;
  }

  .rooms__details {
    padding-left: 30px;
  }

  .rooms__details::before {
    width: 25px;
    height: 25px;
  }

  .rooms__details._show::after {
    top: 3px;
    left: 5px;
    width: 15px;
  }

  .rooms__details-list {
    top: 50px;
    left: 30px;
  }

  .rooms__btn {
    padding: 10px;
    border-radius: 10px;
  }
}

@media (max-width: 334px) {
  .rooms__details::before {
    top: -3px;
  }

  .rooms__details._show::after {
    top: 8px;
  }

  .rooms__details-list {
    top: 55px;
  }
}